<h1>Listing test</h1>
<%= link_to 'Person form', new_person_path %>
<table>
  <tr>
    <th>first name</th>
    <th>last name</th>
    <th>gender</th>
  </tr>
 
  <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.gender %></td>
      <td><%= link_to 'Show', person_path(person) %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Destroy', person_path(person),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
