<h1>A new person</h1>
<p>
  <strong>first name:</strong>
  <%= @person.first_name %>
</p>
 
<p>
  <strong>last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>gender:</strong>
  <%= @person.gender %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> 
<%= link_to 'Back', people_path %>
