<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>淘宝界面</title>

    <title>Newmodel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    
    <p class="navbar-text float-right">

   </p>

      
    
  
  </body>
  
<h1>online shop</h1>


  
    
 </head>
 <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="top">
   <div id="top1">
    
    <div style="left: ;">
    
     <a href="https://login.taobao.com/member/login.jhtml?redirectURL=http%3A%2F%2Fi.taobao.com%2Fmy_taobao.htm%3Fspm%3Da21bo.2017.1997525045.1.5af911d9k01cZY">我的淘宝</a>
     <a href="https://login.taobao.com/member/login.jhtml?redirectURL=http%3A%2F%2Fcart.tmall.com%2Fcart%2FmyCart.htm%3Fspm%3Da211oj.20948799.a2226mz.8%26from%3Dbtop">购物车</a>
     <a href="https://login.taobao.com/member/login.jhtml?redirectURL=http%3A%2F%2Fcart.tmall.com%2Fcart%2FmyCart.htm%3Fspm%3Da211oj.20948799.a2226mz.8%26from%3Dbtop">收藏夹</a>
     <a href="https://login.taobao.com/member/login.jhtml?from=taobaoindex&f=top&style=&sub=true&redirect_url=https%3A%2F%2Fmyseller.taobao.com%2Fhome.htm%3Fspm%3Da2179.1434706.1997525073.1.66b540747x05Xq">商品分类</a>
     <a href="https://login.taobao.com/member/login.jhtml?from=taobaoindex&f=top&style=&sub=true&redirect_url=https%3A%2F%2Fmyseller.taobao.com%2Fhome.htm%3Fspm%3Da2179.1434706.1997525073.1.66b540747x05Xq">卖家中心</a>
     <a href="https://consumerservice.taobao.com/?spm=a21bo.2017.754895749.1.5af911d9i1jFRf">联系客服</a>
     <a href="https://huodong.taobao.com/wow/tbhome/act/sitemap?spm=a21bo.2017.1997525077.1.5af911d9dFdhUw">网站导航</a>

     <% if current_user %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
     <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
     <% end %>
    </div>
   </div>
   <div id="top2">
    <!--分为两个div，都向左浮动，搜索框部分注意调整左外边距与顶外边距的距离 -->
    <!--搜索框和搜索框下面的文字拆分为连个标签部分，由于统一居中，所以搜索框需要进行重定位-->
    <div style="margin-top: 20px; text-align: center;">
     <input type="text" name="search" style="width: 500px; height: 25px; border: 1px solid gray; outline: none; border-radius: 2px;" />
     <input type="submit" value="搜 索" />
    </div>
   </div>
  </div>

  
  
  <!--主体部分（商品展示，这里使用表格）-->
  <div id="main">
   <!--表格，宽度与浏览器宽度一致，列控制每列的宽度，复制后自适应数量-->
   <%= yield %>
  </div>
   </body>

</html>
